
/* --------------------------------------------------
Grid
-------------------------------------------------- */
.column-row, .row {
    margin: 0 0 18px -30px;
}

/*.column, .columns { float: left; display: inline; margin: 0 0 0 30px; }*/
.column, .columns {
    float: left;
    display: inline;
    margin: 0 0 0 1.6%;
}

/*1440*/

.twelve {
    width: 100%;
}

.eleven {
    width: 91.53%;
}

.ten {
    width: 83.06%;
}

.nine {
    width: 74.6%;
}

.eight {
    width: 66.13%;
}

.seven {
    width: 57.66%;
}

.six {
    width: 49.2%;
}

.five {
    width: 40.73%;
}

.four {
    width: 32.26%;
}

.three {
    width: 23.8%;
}

.two {
    width: 15.33%;
}

.one {
    width: 6.866%;
}


.offset-by-one-half {
    margin-left: 75px;
}

.offset-by-one {
    margin-left: 8.466%;
}

.offset-by-two {
    margin-left: 16.932%;
}

.offset-by-three {
    margin-left: 25.398%;
}

.offset-by-four {
    margin-left: 33.864%;
}

.offset-by-five {
    margin-left: 42.33%;
}

.offset-by-six {
    margin-left: 50.796%;
}

.offset-by-seven {
    margin-left: 59.262%;
}

.offset-by-eight {
    margin-left: 67.728%;
}

.offset-by-nine {
    margin-left: 76.194%;
}

.offset-by-ten {
    margin-left: 84.66%;
}

@media only screen and (max-width: 480px) {
    .column {
        margin: 1% 0 1% 0%;
    }

    .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
        width: 100%;
    }
}

/*.one { width: 120px; }
.two { width: 270px; }
.three { width: 420px; }
.four { width: 570px; }
.five { width: 720px; }
.six { width: 870px; }
.seven { width: 1020px; }
.eight { width: 1170px; }
.nine { width: 1320px; }
.ten { width: 1470px; }
.eleven { width: 1620px; }
.twelve { width: 1770px; }*/

/*.offset-by-one-half { margin-left: 75px; }
.offset-by-one { margin-left: 150px; }
.offset-by-two { margin-left: 300px; }
.offset-by-three { margin-left: 450px; }
.offset-by-four { margin-left: 600px; }
.offset-by-five { margin-left: 750px; }
.offset-by-six { margin-left: 900px; }
.offset-by-seven { margin-left: 1050px; }
.offset-by-eight { margin-left: 1200px; }
.offset-by-nine { margin-left: 1350px; }
.offset-by-ten { margin-left: 1500px; }*/

/* Clear the columns automagically, thanks @kneath */
.column-row:after, .row:after, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .column-row, * html .row, * html .clearfix {
    height: 1%;
}

.column-row, .row, .clearfix {
    display: inline-block;
}

.column-row, .row, .clearfix {
    display: block;
}

/* IE6 Problems ---------- */
body.ie .column-row {
    width: 1800px;
}

body.ie .eight .column-row {
    width: 1200px;
}

body.ie .nine .column-row {
    width: 1350px;
}

body.ie .ten .column-row {
    width: 1500px;
}

body.ie .eleven .column-row {
    width: 1650px;
}

body.ie .two-thirds .column-row {
    width: 1230px;
}