* {
    font-family: 'LatoWeb', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
}

header {
    font-size: 14px;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

header nav {
    padding-left: 75px;
    float: left;
}

header nav a {
    text-decoration: none;
    color: #000;
    line-height: 100px;
    font-size: 14px;
    height: 100px;
    padding: 0 30px 0 0;
}

header img {
    width: 175px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -87.5px;
}

.contacts {
    margin: 31px 0;
    height: 38px;
    opacity: 0.5;
}

.right {
    padding-right: 75px;
    float: right !important;
}

.center {
    margin: 0 auto;
}

.Line {
    color: #000000;
    text-align: center;
}

.Line span {
    margin-right: 30px;
}

.column {
    background-color: #ffffff;
    height: auto;
}

.index_categories {
    text-align: center;
    height: 300px;
}

.index_categories img {
    margin-top: 110px
}

.index_categories div {
    margin-top: 50px;
    font-family: 'LatoWeb';
    font-size: 18px;
}

.text-block {
    font-family: 'LatoWeb';
    text-align: justify;
    line-height: 30px;
    height: auto;
    padding: 50px;
    color: rgba(0, 0, 0, .7);
}

.carousel {
    overflow: hidden;
}

.carousel img {
    width: 100%;
}

.text-block h2 {
    padding-bottom: 30px;
}

footer {
    height: 250px;
    padding-top: 60px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

footer img {
    width: 120px;
}

footer .contacts {
    width: 50%;
    opacity: 0.5;
}

footer .Line {
    line-height: 28px;
}

